
      <div class="jumbotron">
        <h1>Mini Mail Gunner</h1>
        <p>your simple mailing list application</p>
      </div>
      <div class="row">
      
      <button ng-click="toggleCreate()">Create Mailing List</button>
      
      <table st-table="rowCollection" class="table table-striped" >
        <thead>
        <tr>
          <th>title</th>
          <th>e-mails</th>
          
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="ml in mlists">
          <td>{{ml.title | limitTo:30}}</td>
          <td>{{ml.mails | limitTo:60}}
          <td>
          <button ng-click="openEdit(ml,$index)">edit</button>
          </td>
          <td>
          <button ng-click="deleteML(ml.id,$index);">remove</button>
          </td>
        </button>
        </tr>
        </tbody>
      </table>
      
      <div class="row" ng-show="create_bool">
      <div class="col-md-2"></div>
      <div class="col-md-8">
      <form ng-submit="addML()"
        style="margin-top:30px;">
        <h3>Create a new mailing list</h3>

        <div class="form-group">
          <input type="text"
            class="form-control"
            placeholder="Title"
            ng-model="title"></input>
        </div>
        <div class="form-group">
          <textarea type="text" class="form-control" rows="3" placeholder="List of e-mails (comma separated)"
          ng-model="mails"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
      </div>
      </div>

      <div class="row" ng-show="update_bool">
      <div class="col-md-2"></div>
      <div class="col-md-8">
      <form ng-submit="editML()"
        style="margin-top:30px;">
        <h3>Edit mailing list</h3>

        <div class="form-group">
          <input type="text"
            class="form-control"
            placeholder="Title"
            ng-model="selected_mlist.title"></input>
        </div>
        <div class="form-group">
          <textarea type="text" class="form-control" rows="3" placeholder="List of e-mails (comma separated)"
          ng-model="selected_mlist.mails"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
      </div>
      </div>
    