
      <div class="jumbotron">
        <h1>Mini Mail Gunner</h1>
        <p>your simple mailing list application</p>
      </div>
      <div class="row">
      
        <div ng-repeat="ml in mlists">
          <!-- <span class="glyphicon glyphicon glyphicon-edit" ng-click="editML(ml.id)"></span>
          <span class="glyphicon glyphicon glyphicon-remove" ng-click="deleteML(ml.id)"></span>
 -->
          <button ng-click="deleteML(ml.id,$index);">remove</button>
    
          <span style="font-size:20px; margin-left:10px;">
            {{ml.title}} - mails: {{ml.mails}}
          </span>
        </div>
      
      
      <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
      <form ng-submit="addML()"
        style="margin-top:30px;">
        <h3>Create a new mailing list</h3>

        <div class="form-group">
          <input type="text"
            class="form-control"
            placeholder="Title"
            ng-model="title"></input>
        </div>
        <div class="form-group">
          <textarea type="text" class="form-control" rows="3" placeholder="List of e-mails (comma separated)"
          ng-model="mails"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
      </div>
    