<div class="jumbotron">
  <h1>Mini Mail Gunner</h1>
  <p>your simple mailing list application</p>
</div>

<button class="btn btn-default" ng-click="open()">Open me!</button>
<button class="btn btn-default" ng-click="open('lg')">Large modal</button>
<button class="btn btn-default" ng-click="open('sm')">Small modal</button>
<button class="btn btn-default" ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled }})</button>
<div ng-show="selected">Selection from a modal: {{ selected }}</div>


<div class="row">
  <form ng-submit="sendMails()"
    style="margin-top:30px;">
    <h3>Mailing options:</h3>
    <div class="form-group">
      Mailing list:
      <select class="form-control" ng-model="mails">
        <option ng-repeat="mlist in mlists" value="{{mlist.mails}}" >{{mlist.title}}</option>
      </select>
      Mail template:
      <select class="form-control" ng-model="content">
        <option ng-repeat="template in templates" value="{{template.content}}">{{template.title}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>

</div>