<div class="jumbotron">
  <h1>Mini Mail Gunner</h1>
  <p>your simple mailing list application</p>
</div>

<div ng-show="mpreview">
To be sent to:<br/>
{{mpreview.mails}} 
<br/>
Subject:<br/>
 {{tpreview.title}} <br/>
Body:<br/>
{{tpreview.content}}<br/>
</div>

<hr/>
<div class="alert alert-success" role="alert" ng-show="message_sent">{{message_sent}}</div>
<div class="alert alert-danger" role="alert" ng-show="error_message">{{error_message}}</div>
<div class="row">
  <form ng-submit="sendMails()"
    style="margin-top:30px;">
    <h3>Mailing options:</h3>
    <div class="form-group">
      <label>Mailing list:
      <select class="form-control" ng-model="mpreview" ng-options="mlist.title for mlist in mlists" required></select>
      </label><br/>      
      <label> Mail template:
      <select class="form-control" ng-model="tpreview" ng-options="template.title for template in templates" required></select>
      </label><br/>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
</div>