
      <div class="jumbotron">
        <h1>Mini Mail Gunner</h1>
        <p>your simple mailing list application</p>
      </div>
      <div class="row">
      
      <button ng-click="toggleCreate()">Create Mail Template</button>
      
      <table st-table="rowCollection" class="table table-striped" >
        <thead>
        <tr>
          <th>Title/Subject</th>
          <th>Content</th>
          
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="tmp in templates">
          <td>{{tmp.title | limitTo:30}}</td>
          <td>{{tmp.content | limitTo:60}}
          <td>
          <button ng-click="openEdit(tmp,$index)">edit</button>
          </td>
          <td>
          <button ng-click="deleteTemplate(tmp.id,$index);">remove</button>
          </td>
        </button>
        </tr>
        </tbody>
      </table>
      
      <div class="row" ng-show="create_bool">
      <div class="col-md-2"></div>
      <div class="col-md-8">
      <form ng-submit="addTemplate()"
        style="margin-top:30px;">
        <h3>Create a new mail template</h3>

        <div class="form-group">
          <input type="text"
            class="form-control"
            placeholder="Title"
            ng-model="title"></input>
        </div>
        <div class="form-group">
          <textarea type="text" class="form-control" rows="10" placeholder="Template"
          ng-model="content"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
      </div>
      </div>

      <div class="row" ng-show="update_bool">
      <div class="col-md-2"></div>
      <div class="col-md-8">
      <form ng-submit="editTemplate()"
        style="margin-top:30px;">
        <h3>Edit mail template</h3>

        <div class="form-group">
          <input type="text"
            class="form-control"
            placeholder="Title"
            ng-model="selected_template.title"></input>
        </div>
        <div class="form-group">
          <textarea type="text" class="form-control" rows="10" placeholder="Template"
          ng-model="selected_template.content"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
      </div>
      </div>