
      <div class="jumbotron">
        <h1>Mini Mail Gunner</h1>
        <p>your simple mailing list application</p>
      </div>
      <div class="row">
      
        <div ng-repeat="template in templates">
          <!-- <span class="glyphicon glyphicon glyphicon-edit"
              ng-click="deleteML(mlist)"></span>
          <span class="glyphicon glyphicon glyphicon-remove"
              ng-click="deleteML(mlist)"></span> -->
          <button ng-click="deleteTemplate(template.id,$index);">remove</button>
          <span style="font-size:20px; margin-left:10px;">
            {{template.title}}
          </span>
        </div>
      
      
      <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
      <form ng-submit="addTemplate()"
        style="margin-top:30px;">
        <h3>Create a mail template</h3>

        <div class="form-group">
          <input type="text"
            class="form-control"
            placeholder="Title"
            ng-model="title"></input>
        </div>
        <div class="form-group">
          <textarea type="text" class="form-control" rows="6" placeholder="Template"
          ng-model="content"></textarea>

        </div>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
      </div>
    